:root{
    --themeColor: rgb(0, 0, 0);
    --bgColor: rgba(0, 0, 0, .9);
    --primaryColor: #ebebeb;
    --secColor: blue;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--primaryColor);
}

.active{
    border-bottom: 3px solid #fff;
}

.active1{
    border-bottom: 3px solid #000;
}


.nav{
    position: fixed;
    top: 0;
    left:40%;
    height: 100vh;
    width: 150px;
    /* background-color: rgba(0, 0, 0, .1); */
    /* opacity: .4; */
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav ul{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav ul li{
    margin: 50px 0px 50px -50px;
    width: 100%;
    list-style: none;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
}

.bottom{
    color: black !important;
}


header{
    background-color: var(--themeColor);
    margin-top: -22px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;   
}

header .headerText{
    position: relative;
    width:30%;
    height: 300px;
    background-color: var(--bgColor);
    padding: 20px 20px;
}

.headerText .decor{
    position: absolute;
    top: 60px;
    left:50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--primaryColor);
    height: 50px;
    width: 80px;
    opacity: .1;
}

header .portfolio{
    position: absolute;
    background-color: var(--primaryColor);
    top: 20px;
    left: 100px;
    opacity: .1;
    width: 24rem;
    height: 6rem;
    z-index: 15;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
}

header .headerText p{
    color: var(--primaryColor);
    font-size: small;
    width:80%;
}

header .headerText p span{
    color: var(--secColor);
    
    font-size: medium;
    text-transform: capitalize;
}

header h2{
    color: var(--primaryColor);
    font-size: medium;
    text-transform: capitalize;
}

header h2 span{
    font-size: 30px;
    color: var(--secColor);
    font-family: 'Poppins', sans-serif;
}

header .image{
    width: 450px;
    height: 80%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.image .decor1{
    position: absolute;
    top: 0;
    right:50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--primaryColor);
    height: 50px;
    width: 80px;
    opacity: .1;
}

.image .decor2{
    position: absolute;
    top: 100px;
    right:100px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    height: 200px;
    width: 200px;
    opacity: .1;
    z-index: 0;
}

header .image .imgContainer{
    width: 55%;
    height: 100%;
}

header .image .imgContainer img{
    width: 100%;
    height: 100%;
    
}

header .image .social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px;
    width: 50px;
    height: 100%;
    /* background-color: blue; */
}

header .image .social a{
    text-decoration: none;
    color: var(--primaryColor);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}



.about{
    min-height: 100vh;
    width: 100%;
}

.projects{
    min-height: 100vh;
    width: 100%;
}