:root{
    --themeColor: rgb(0, 0, 0);
    --bgColor: rgba(0, 0, 0, .9);
    --primaryColor: #ebebeb;
    --secColor: blue;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: var(--primaryColor);
    scroll-behavior: smooth;
    overflow-x: hidden;
    line-height: 1.5rem;
}


.active{
    border-bottom: 3px solid rgb(255, 255, 255);
}

.active1{
    border-bottom: 3px solid #000;
}


.nav{
    position: fixed;
    top: 0;
    left:40%;
    height: 100vh;
    width: 150px;
    /* background-color: rgba(0, 0, 0, .1); */
    /* opacity: .4; */
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to right, red, pink,yellow, green, gold, blue );
    opacity: .5; */
}

.nav ul{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav ul li{
    margin: 50px 0px 50px -50px;
    width: 100%;
    list-style: none;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul li a{
    color: #fff;
    text-decoration: none;
}

.bottom{
    color: black !important;
}


header{
    background-color: var(--themeColor);
    margin-top: -22px;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;   
    /* flex-wrap: wrap; */
}

.logo{
    background: var(--secColor);
    color: #fff;
    position: absolute;
    top: 40px;
    left: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.logo h2{
    font-size: 32px;
    font-weight: bold;
}

header .headerText{
    position: relative;
    width:30%;
    height: 300px;
    background-color: var(--bgColor);
    padding: 20px 20px;
}

.headerText .decor{
    position: absolute;
    top: 60px;
    left:50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--primaryColor);
    height: 50px;
    width: 80px;
    opacity: .1;
}

.portfolio{
    position: absolute;
    background-color: var(--primaryColor);
    top: 20px;
    left: 100px;
    opacity: .1;
    width: 24rem;
    height: 6rem;
    z-index: 15;
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 50px;
}

header .headerText p{
    color: var(--primaryColor);
    font-size: small;
    width:80%;
}

header .headerText p span{
    color: var(--secColor);
    font-size: medium;
    text-transform: capitalize;
}

header h2{
    color: var(--primaryColor);
    font-size: medium;
    text-transform: capitalize;
}

header h2 span{
    font-size: 30px;
    color: var(--secColor);
    font-family: 'Poppins', sans-serif;
}

header .image{
    width: 450px;
    height: 80%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.image .decor1{
    position: absolute;
    top: 0;
    right:50px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--primaryColor);
    height: 50px;
    width: 80px;
    opacity: .1;
}

.image .decor2{
    position: absolute;
    top: 100px;
    right:100px;
    border-radius: 50%;
    background-color: var(--primaryColor);
    height: 200px;
    width: 200px;
    opacity: .1;
    z-index: 0;
}

header .image .imgContainer{
    width: 55%;
    height: 100%;
}

header .image .imgContainer img{
    width: 100%;
    height: 100%;
    
}

header .image .social{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
    width: 50px;
    height: 100%;
}

header .image .social a{
    text-decoration: none;
    color: var(--primaryColor);
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primaryColor);
    border-radius: 50%;
    cursor: pointer;
}

header .image .social a i{
    color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.about{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .portfolio{
    /* background-color: var(--secColor); */
    cursor: default;
}

.about .left{
    display: flex;
    margin-left: 20px;
    width: 30%;
}

.about .left .line{
    width: 5px;
    height: 80%;
    background-color: black;
    margin: auto 0;
    /* display: flex;
    justify-content: center; */
    overflow: visible;
}

.about .left .line .circle1{
    width: 8px;
    height: 8px;
    background-color: rgb(4, 21, 250);
    margin-top: 36px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 5;
}
.about .left .line .circle2{
    width: 8px;
    height: 8px;
    background-color: rgb(4, 21, 250);
    margin-top: 120px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 5;
}

.about .left .aboutTitle{
    position: absolute;

}

.about .left .aboutText h2{
    /* margin-bottom: -40px; */
}

.about .left h2 span{
    color: blue !important;
    font-size: 35px;
}

.about .left .aboutContent .aboutText1{
    margin-top: 97px;
    margin-left: 20px;
}
.about .left .aboutContent .aboutText2{
    margin-top: -8px;
    margin-left: 20px;
}
.about .left .aboutContent .aboutText3{
    margin-top: -10px;
    margin-left: 20px;
}

.about .left .aboutContent .decor{
    position: absolute;
    top: 250px;
    left:250px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: var(--secColor);
    height: 50px;
    width: 80px;
    opacity: .1;
}

.about .left .aboutContent .aboutText1 p,.aboutText2 p{
    /* margin-top: -15px; */
    font-size: medium;
}
.about .left .aboutContent .aboutText1 p span,.aboutText2 p span{
    /* margin-top: -15px; */
    font-size: medium;
    color: var(--secColor);
}

.aboutText2 p{
    margin-top: -15px;
}

.about .left .aboutContent .aboutText3 .imgContainer1{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.about .left .aboutContent .aboutText3 .imgContainer2{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.about .left .aboutContent .aboutText3 img{
    background-color: var(--primaryColor);
    color: var(--secColor);
    width: 60px;
    height: 80px;
}

.square{
    width: 80px !important;
}

.space{
    margin-bottom: 20px;
}

.about .right{
    position: relative;
    width: 700px;
    min-height: 100vh;
}

.about .right .line{
    position: absolute;
    width: 5px;
    height: 20%;
    top: 60%;
    left: 10%;
    background-color: black;
    margin: auto 0;
    overflow: visible;
}

.about .right .line .circle1{
    width: 8px;
    height: 8px;
    background-color: rgb(4, 21, 250);
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 5;
}

.about .right .decor2{
    position: absolute;
    top: 300px;
    right:290px;
    border-radius: 50%;
    background-color: var(--secColor);
    height: 200px;
    width: 200px;
    opacity: .1;
    z-index: 0;
}

.about .right .image{
    width: 90%;
    height: 50%;
    /* background-color: azure; */
    margin-top: 70px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.about .right .image .img{
    width: 28%;
}

.about .right .image .img1{
    margin-top: 50px;
    width: 100%;
    height: 70%;
    border-radius: 25px;
    overflow: hidden;
}

.about .right .image .image2{
    margin-top: -50px;
    width: 40%;
    height: 60%;
    border-radius: 25px;
    overflow: hidden;
}

.about .right .image .img3{
    margin-top: 50px;
    width: 110%;
    height: 70%;
    border-radius: 25px;
    overflow: hidden;
}

.about .right .aboutText{
    margin-left: 14%;
    margin-top: -17px;
}

.projects{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .projectBox{
    margin-top: 100px;
    width: 1200px;
    min-height: 500px;
}

.projects .projectBox .projectContainer{
    /* background: chartreuse; */
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
}

.projects .projectBox .projectContainer .projectImg{
    width: 60%;
    height: 100%;
    background-color: chartreuse;
    z-index: 100;
    position: relative;
    
}

.projects .projectBox .projectContainer .projectImg .img{
    width: 100%;
    height: 100%;
    z-index: 101;
}

.projects .projectBox .projectContainer .projectImg .img img{
    width: 100%;
    height: 100%;
}

.projects .projectBox .projectContainer .projectImg .overlay{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 110;
    visibility: hidden;
}


.projects .projectBox .projectContainer .projectInfo{
    width: 35%;
    height: 100%;
    background-color: cornsilk;
}